body{
    position: relative;
    background: #F5F1E8;
    display: flex;
    justify-content: center;
    margin: 0%;
    font-family: 'calibri', sans-serif;
    letter-spacing: 0.3px;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box-head{
    width: 100%;
    display: flex;
    margin: 0%;
    padding-bottom: 1%;
    justify-content: center;
    align-items: center;
    color: #F5F1E8;
    background: rgb(19, 5, 56);
    font-size: 105%;
    letter-spacing: 0.2px;
    font-weight: 550;
    height: 43px;
}
.imgSbp{
    display: flex;
    justify-content: center;
}
.imgSbp img{
    margin-top: 5.38%;
    margin-bottom: 7%;
    width: 32.8%;
}
.winBay{
    color: rgb(31, 7, 75);
    text-align: center;
    font-size: 105%;
    margin-bottom: 9.05%;
    font-weight: 500;
}
.busNumber{
    display: flex;
    justify-content: center;
}
#car{
    cursor: pointer;
    display: flex;
    font-size: 120%;
    color: rgb(31, 7, 75);
    font-weight: 570;
    letter-spacing: 0.5px;
}
.numberRub{
    margin-top: 0.7%;
    margin-bottom: 1.45%;
    font-family: 'Circle', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-weight: 600;
    color: rgb(23, 6, 68);
}
.twoNine{
    font-family: 'Circle', sans-serif;
    font-weight: 200;
    font-size: 100%;
}
.dataAndNowTime{
    margin-top: 3.1%;
    letter-spacing: 0.2px;
    font-family: 'Circle', sans-serif;
    font-size: 105%;
    font-weight: 450;
    text-align: center;
    color: rgb(31, 7, 75);
}
.tc{
    margin-top: 0.8%;
    color: rgba(170, 170, 170, 0.863);
    text-align: center;
    font-size: 95%;
    font-weight: 500;
}
.timeOldText{
    color: rgb(33, 7, 80);
    margin-top: 9%;
    font-size: 105%;
    font-weight: 500;
    text-align: center ;
    letter-spacing: 0.2px;
}
.timeOldNumber{
    cursor: pointer;
    font-family: 'Circle', sans-serif;
    text-align: center;
    color: rgb(25, 7, 73);
    font-weight: 600;
    font-size: 175%;
}
.QR-code{
    margin-top: 3.5%;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 23em;
    background: #F5F1E8;
}
.QR-code img{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
}
.seriesTikets{
    text-align: center;
    color: rgb(33, 7, 80);
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.numberSeriesTikets{
    font-family: 'Circle', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.numberTiket{
    text-align: center;
    color: rgb(33, 7, 80);
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.numberTiketNam{
    font-family: 'Circle', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.textFooter{
    text-align: center;
    color: rgb(33, 7, 80);
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: 27px;
}
.btnSaveTiketClass{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btnSaveTiket{
    margin-top: 27px;
    margin-bottom: 15px;
    /* font-family: 'Roboto', sans-serif; */
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 45px;
    background: rgb(59, 158, 39);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    border-radius: 8px;
    color: aliceblue;
    border: none;
}
.boxStartQr {
    display: flex;
    color: black;
    font-size: 77%;
    font-weight: 600;
    position: relative; /* Определяет контекст позиционирования для фиксированного элемента */
}

/* Контейнер для кнопки */
.btnSaveTiketClassStart {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    text-align: center;         
    background: rgb(248, 250, 239);         
    height: 19.5%;             
    position: fixed;           
    bottom: 0;                 
    left: 0;                  
    width: 100%;               
    z-index: 1000;             
}

/* Стиль текста в контейнере */
.btnSaveTiketClassStartText{
    margin-bottom: 3px;
    padding: 0;
}
.btnSaveTiketClassStartTextTwo {
    margin-bottom: 20px;
    padding: 0; /* Убираем внутренние отступы у текста */
}

/* Стиль кнопки */
.btnSaveTiketStart {  
    cursor: pointer;            
    padding-left: 3%;          
    padding-right: 3%;         
    display: flex;             
    justify-content: center;    
    align-items: center;       
    width: 94%;                 
    height: 32%;              
    background-color: rgb(57, 180, 33);
    font-size: 16px;           
    font-weight: 450;          
    letter-spacing: 0.7px;     
    border-radius: 8px;       
    color: aliceblue;          
    border: none;  
    z-index: 2000;
    margin-left: 3%;           /* Отступ слева */
    margin-right: 3%;                
}
.colorFonts{
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 22;
    width: 100%;
    height: 100%;
    background: rgba(48, 31, 61, 0.603);
    pointer-events: none;
}
#textRedactor{
    width: 50px;
    height: 22px;
    display: flex;
    cursor: text;
    border: none;
    font-size: 119%;
    font-family: 'Circle', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0px;
    color: rgb(21, 5, 65);
}
#impunFl{
    width: 100px;
    border: none;
    outline: none;
    font-size: 22px;
    display: none;
}
.menuCar{
    display: none;
    width: 100%;
    height: 90px;
    flex-direction: column;
}
.btnMenu{
    cursor: pointer;
    display: flex;
    border: none;
    border-radius: 8px;
    font-size: 21px;
    color: rgb(31, 7, 75);
    font-weight: 550;
    letter-spacing: 0.3px;
    margin-top: 5px;
    align-items: center;
    width: 35%;
    margin-left: 28%;
    height: 24px;
}
